upd_interdace_broker.json
[
    {
        "id": "c2dd626a86cc6cc4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ff246c28cc0fa0af",
        "type": "mqtt-broker",
        "name": "mqtt_broker",
        "broker": "mqtt://192.168.1.102",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a5a23c5fa5c82f4d",
        "type": "udp in",
        "z": "c2dd626a86cc6cc4",
        "name": "temperature",
        "iface": "",
        "port": "48569",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "c331e94f5129300c",
                "8efa1a3497c7a8e7",
                "f6859ab79cf4c5e0",
                "f2702b391b79aa76"
            ]
        ]
    },
    {
        "id": "c331e94f5129300c",
        "type": "string",
        "z": "c2dd626a86cc6cc4",
        "name": "temperature",
        "methods": [
            {
                "name": "between",
                "params": [
                    {
                        "type": "str",
                        "value": "temperature="
                    },
                    {
                        "type": "str",
                        "value": "°C"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "8698d9f22991fb89",
                "9d39cc5a1491fbe1"
            ]
        ]
    },
    {
        "id": "8698d9f22991fb89",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "8efa1a3497c7a8e7",
        "type": "string",
        "z": "c2dd626a86cc6cc4",
        "name": "humidity",
        "methods": [
            {
                "name": "between",
                "params": [
                    {
                        "type": "str",
                        "value": "\"temperature= 19.52°C humidity="
                    },
                    {
                        "type": "msg",
                        "value": "%"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "d1787efa3cdc78e5",
                "41b46193d88aea70"
            ]
        ]
    },
    {
        "id": "d1787efa3cdc78e5",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 280,
        "wires": []
    },
    {
        "id": "19896d575389fc1e",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "set temperature as global variable",
        "func": "global.set(\"temperature\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 60,
        "wires": [
            [
                "7712b3f75d46dea3"
            ]
        ]
    },
    {
        "id": "2a4e877502fcd289",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "set humidity as global variable",
        "func": "global.set(\"humidity\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 280,
        "wires": [
            [
                "12753bb56e15c445"
            ]
        ]
    },
    {
        "id": "12753bb56e15c445",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "humidity_global_variable",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "7712b3f75d46dea3",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "temperature_global_variable",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "41b46193d88aea70",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "convert humidity to a number",
        "func": "msg.payload = parseFloat(msg.payload); // Convert string to float\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "2a4e877502fcd289"
            ]
        ]
    },
    {
        "id": "9d39cc5a1491fbe1",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "Convert temperature to number",
        "func": "msg.payload = parseFloat(msg.payload); // Convert string to float\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 60,
        "wires": [
            [
                "19896d575389fc1e"
            ]
        ]
    },
    {
        "id": "417c2d7eb6454ec7",
        "type": "comment",
        "z": "c2dd626a86cc6cc4",
        "name": "udp_interface",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "22fef4e5da9e0e24",
        "type": "inject",
        "z": "c2dd626a86cc6cc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "23345b8c56f93db3"
            ]
        ]
    },
    {
        "id": "23345b8c56f93db3",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "Get global variables",
        "func": "flow.set('Temperature', global.get(\"temperature\"));\nflow.set('Humidity', global.get(\"humidity\"));\nflow.set('lux', global.get(\"lux\"));\nflow.set('tempecriticalvl', global.get(\"critical_temperature\"))\nflow.set('humiditycriticalvl', global.get(\"critical_humidity\"))\nflow.set('light_on', global.get(\"light_is_on\"))\nflow.set('light_off', global.get(\"light_is_off\"))\n\n\nmsg.payload = [\n\nflow.get('Temperature'),\nflow.get('Humidity'),\nflow.get('lux'),\nflow.get('tempecriticalvl'),\nflow.get('humiditycriticalvl'),\nflow.get('light_on'),\nflow.get('light_off')\n\n\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1060,
        "wires": [
            [
                "6f81b26141409c2a"
            ]
        ]
    },
    {
        "id": "6f81b26141409c2a",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "global variables array",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1060,
        "wires": []
    },
    {
        "id": "5bc3935c501eec38",
        "type": "opcua-compact-server",
        "z": "c2dd626a86cc6cc4",
        "port": "4840",
        "endpoint": "",
        "productUri": "",
        "acceptExternalCommands": true,
        "maxAllowedSessionNumber": 10,
        "maxConnectionsPerEndpoint": 10,
        "maxAllowedSubscriptionNumber": 100,
        "alternateHostname": "",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "allowAnonymous": true,
        "individualCerts": false,
        "isAuditing": false,
        "serverDiscovery": true,
        "users": [],
        "xmlsetsOPCUA": [],
        "publicCertificateFile": "",
        "privateCertificateFile": "",
        "registerServerMethod": "1",
        "discoveryServerEndpointUrl": "opc.tcp://192.168.1.102:4840",
        "capabilitiesForMDNS": "",
        "maxNodesPerRead": 1000,
        "maxNodesPerWrite": 1000,
        "maxNodesPerHistoryReadData": 100,
        "maxNodesPerBrowse": 3000,
        "maxBrowseContinuationPoints": 10,
        "maxHistoryContinuationPoints": 10,
        "delayToInit": 1000,
        "delayToClose": 200,
        "serverShutdownTimeout": 100,
        "addressSpaceScript": "function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n  // server = the created node-opcua server\n  // addressSpace = address space of the node-opcua server\n  // eventObjects = add event variables here to hold them in memory from this script\n\n  // internal sandbox objects are:\n  // node = the compact server node,\n  // coreServer = core compact server object for debug and access to NodeOPCUA\n  // this.sandboxNodeContext = node context node-red\n  // this.sandboxFlowContext = flow context node-red\n  // this.sandboxGlobalContext = global context node-red\n  // this.sandboxEnv = env variables\n  // timeout and interval functions as expected from nodejs\n\n  \n  const opcua = coreServer.choreCompact.opcua;\n  const LocalizedText = opcua.LocalizedText;\n  const namespace = addressSpace.getOwnNamespace();\n\n  const Variant = opcua.Variant;\n  const DataType = opcua.DataType;\n  const DataValue = opcua.DataValue;\n\n  var flexServerInternals = this;\n\n  \n  const rootFolder = addressSpace.findNode(\"RootFolder\");\n\n  this.sandboxFlowContext.set(\"Humidity\", false);\n  this.sandboxFlowContext.set(\"Temperature\", false);\n  this.sandboxFlowContext.set(\"humiditycriticalvl\", false);\n  this.sandboxFlowContext.set(\"tempecriticalvl\", false);\n  this.sandboxFlowContext.set(\"light_on\", false);\n\n  this.sandboxFlowContext.set(\"access\", false);\n  this.sandboxFlowContext.set(\"illuminance\", false);\n\n\n  const sensor_Data = namespace.addFolder(rootFolder.objects, {\n    \"browseName\": \"Sensor_data\"\n  });\n  const access_control = namespace.addFolder(rootFolder.objects, {\n    \"browseName\": \"access_control\"\n  });\n  const access = namespace.addFolder(access_control, {\n    \"browseName\": \"access_event\"\n  });\n  const temperature = namespace.addFolder(sensor_Data, {\n    \"browseName\": \"temperature\"\n  });\n  const humidity = namespace.addFolder(sensor_Data, {\n    \"browseName\": \"humidity\"\n  });\n  const temperature_float = namespace.addFolder(temperature, {\n    \"browseName\": \"Float_C\"\n  });\n  const humidity_float = namespace.addFolder(humidity, {\n    \"browseName\": \"humidity_%\"\n  });\n  const tempCritical = namespace.addFolder(sensor_Data, {\n    \"browseName\": \"Temp_critical\"\n  });\n  const humidityCritical = namespace.addFolder(sensor_Data, {\n    \"browseName\": \"Humidity_critical\"\n  });\n   const light_on = namespace.addFolder(sensor_Data, {\n    \"browseName\": \"light_on\"\n  });\n  const illuminance = namespace.addFolder(sensor_Data, {\n  \"browseName\": \"illuminance\"\n  });\n  const temperature_var = namespace.addVariable({\n    \"organizedBy\": temperature_float,\n    \"browseName\": \"temperature\",\n    \"nodeId\": \"ns=1;s=Temperature_value\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Temperature\")\n        });\n      },\n      \"set\": function (Variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Temperature\",\n          Variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  const humidity_var = namespace.addVariable({\n    \"organizedBy\": humidity_float,\n    \"browseName\": \"Humidity\",\n    \"nodeId\": \"ns=1;s=Humidity_value\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Humidity\")\n        });\n      },\n      \"set\": function (Variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Humidity\",\n          Variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n    const temperatureCritical = namespace.addVariable({\n    \"organizedBy\": tempCritical,\n    \"browseName\": \"critical_temperature\",\n    \"nodeId\": \"ns=1;s=Temp_critical_value\",\n    \"dataType\": \"Boolean\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Boolean,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"tempecriticalvl\")\n        });\n      },\n      \"set\": function (variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"tempecriticalvl\",\n          variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const humidityCrit = namespace.addVariable({\n    \"organizedBy\": humidityCritical,\n    \"browseName\": \"critical_humidity\",\n    \"nodeId\": \"ns=1;s=Humidity_critical_value\",\n    \"dataType\": \"Boolean\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Boolean,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"humiditycriticalvl\")\n        });\n      },\n      \"set\": function (variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"humiditycriticalvl\",\n          variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  const light_on_event = namespace.addVariable({\n    \"organizedBy\": light_on,\n    \"browseName\": \"light_is_on\",\n    \"nodeId\": \"ns=1;s=light_is_on\",\n    \"dataType\": \"Boolean\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Boolean,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"light_on\")\n        });\n      },\n      \"set\": function (variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"light_on\",\n          variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  const accessevent= namespace.addVariable({\n    \"organizedBy\": access_control,\n    \"browseName\": \"Value\",\n    \"nodeId\": \"ns=1;s=accessevent\",\n    \"dataType\": \"Boolean\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Boolean,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"access\")\n        });\n      },\n      \"set\": function (variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"access\",\n          variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\nconst illuminance_var = namespace.addVariable({\n    \"organizedBy\": illuminance,\n    \"browseName\": \"illuminance\",\n    \"nodeId\": \"ns=1;s=illuminance_value\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"lux\")\n        });\n      },\n      \"set\": function (Variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"lux\",\n          Variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n  done();\n}",
        "x": 540,
        "y": 1160,
        "wires": []
    },
    {
        "id": "289966f660d03275",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "Check Temperature and Humidity",
        "func": "// Define the acceptable range for temperature and humidity\nconst minTemperature = 10; // Minimum temperature\nconst maxTemperature = 20; // Maximum temperature\nconst criticatemp = 20; // critical temperature \nconst minHumidity = 30;    // Minimum humidity\nconst maxHumidity = 40;    // Maximum humidity\nconst critichumidity =40; // critical value for humidity\nconst minlux= 30;\nconst maxlux=500;\n// Get the incoming message payload\nvar temperature = global.get('temperature'); // Get temperature from global context\nvar humidity = global.get('humidity'); // Get humidity from global context\nvar lux= global.get('lux'); // get illuminance value\n\n// set global variables that can be used by opc_server\n\n\n// Initialize payload as a JSON object\nvar  data = {\n    timestamp: Date.now(),\n    temperature: temperature,\n    humidity: humidity,\n    criticalhumidity : false,\n    criticaltemp : false,\n    temperatureEvent: \"\",\n    humidityEvent: \"\",\n    turnlighton: false,\n    turnlightoff: false,\n    turnAC: false // Initialize turn AC variable\n};\n\n\n// Check if temperature is within the acceptable range\nif (temperature < minTemperature) {\n    // Temperature is below the acceptable range\n    data.temperatureEvent = \"Below Min\";\n} else if (temperature > maxTemperature && temperature > criticatemp) {\n    // Temperature is above the acceptable range\n    data.temperatureEvent = \"Above Max\";\n    data.criticaltemp= true;\n}\nelse if (temperature > maxTemperature && temperature < criticatemp) {\n    // Humidity is above the acceptable range\n    data.temperatureEvent = \"Above Max\";\n    data.criticaltemp= false;\n    }\nelse {\n        msg.payload.temperatureEvent = \"No action\"\n    }\n// Check if humidity is within the acceptable range\nif (humidity < minHumidity) {\n    // Humidity is below the acceptable range\n    data.humidityEvent = \"Below Min\";\n} else if (humidity > maxHumidity && humidity > critichumidity) {\n    // Humidity is above the acceptable range\n    data.humidityEvent = \"Above Max\";\n    data.criticalhumidity = true;\n\n    }\nelse if (humidity > maxHumidity && humidity <critichumidity) {\n    // Humidity is above the acceptable range\n    data.humidityEvent = \"Above Max\";\n    data.criticalhumidity = false;\n\n} \n\nelse {\n        data.humidityEvent = \"No action\"\n    }\n\n// Set turn AC variable based on conditions\nif (data.temperatureEvent === \"Above Max\" || data.humidityEvent === \"Above Max\" || data.criticaltemp==true) {\n    data.turnAC = true; // Turn on AC\n} else {\n    data.turnAC = false; // Turn off AC\n}\nif (lux > minlux) {\n    data.turnlighton = true; // Turn on AC\n} else {\n    data.turnlightoff = true; // Turn off AC\n}\n\n\n\n// Return message\nreturn {payload: data};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 700,
        "wires": [
            [
                "269a042a5617887d",
                "9ceb62a960fb4d06",
                "13bdee667e0e5c72",
                "159ea6e1d93f3b68",
                "c9096dd05c0bd154",
                "14ab688dbc2e10fa"
            ]
        ]
    },
    {
        "id": "269a042a5617887d",
        "type": "csv",
        "z": "c2dd626a86cc6cc4",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity,temperatureEvent,humidityEvent,turnAC",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 570,
        "y": 700,
        "wires": [
            [
                "3a8525113562949f"
            ]
        ]
    },
    {
        "id": "3a8525113562949f",
        "type": "file",
        "z": "c2dd626a86cc6cc4",
        "d": true,
        "name": "",
        "filename": "C:\\Users\\waelk\\Desktop\\test.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 780,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "0dc673aa8e12feee",
        "type": "inject",
        "z": "c2dd626a86cc6cc4",
        "name": "Simulate Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 700,
        "wires": [
            [
                "289966f660d03275"
            ]
        ]
    },
    {
        "id": "9ceb62a960fb4d06",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "object containing_data_and_events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 780,
        "wires": []
    },
    {
        "id": "5cf8f50f07d3ee54",
        "type": "comment",
        "z": "c2dd626a86cc6cc4",
        "name": "sending notifications to2",
        "info": "",
        "x": 100,
        "y": 780,
        "wires": []
    },
    {
        "id": "13bdee667e0e5c72",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "check_critical_temperature_trigger",
        "func": "msg.topic=\"node-red-notification\"\nvar inputObject = msg.payload;\n\nvar criticalTemperature = inputObject.criticaltemp;\nvar criticalHumidity = inputObject.criticalhumidity;\n\n// Define the interval time in milliseconds (e.g., 10 minutes = 600000 ms)\nvar intervalTime = 600000;\n\nif (criticalTemperature || criticalHumidity) {\n    // Get the current time\n    var currentTime = Date.now();\n\n    // Get the last sent time from the global context, defaulting to 0 if not set\n    var lastSentTime = context.global.get('lastSentTime') || 0;\n\n    // Check if the interval has passed since the last message was sent\n    if (currentTime - lastSentTime > intervalTime) {\n        // Update the last sent time in the global context\n        context.global.set('lastSentTime', currentTime);\n\n        // Set the message payload to indicate critical conditions\n        msg.payload = \"Critical temperature or humidity condition is met.\";\n        return msg;\n    } else {\n        // Interval has not passed, do not send a message\n        return null;\n    }\n} else {\n    // Critical conditions are not met, do not send a message\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 860,
        "wires": [
            [
                "1231d57ed64ade88",
                "f3213a61b8c5e13d"
            ]
        ]
    },
    {
        "id": "1231d57ed64ade88",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "trigger_conditions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 860,
        "wires": []
    },
    {
        "id": "8cfe841ce57b84d1",
        "type": "e-mail",
        "z": "c2dd626a86cc6cc4",
        "server": "mail.gmx.net",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "node-redpi@gmx.de",
        "dname": "notification_temperature",
        "x": 890,
        "y": 940,
        "wires": []
    },
    {
        "id": "9f12c7669b911778",
        "type": "comment",
        "z": "c2dd626a86cc6cc4",
        "name": "OPC_UA_SERVER",
        "info": "",
        "x": 90,
        "y": 1000,
        "wires": []
    },
    {
        "id": "bf2bd609b43e0807",
        "type": "comment",
        "z": "c2dd626a86cc6cc4",
        "name": "LOGIC_ENGINE",
        "info": "",
        "x": 80,
        "y": 640,
        "wires": []
    },
    {
        "id": "159ea6e1d93f3b68",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "set temperature event as global var",
        "func": "msg.payload= msg.payload.criticaltemp;\nglobal.set(\"critical_temperature\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 600,
        "wires": [
            [
                "c6850f5f3201e9c4"
            ]
        ]
    },
    {
        "id": "c6850f5f3201e9c4",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "temp_event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 600,
        "wires": []
    },
    {
        "id": "c9096dd05c0bd154",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "set humidity event as global var",
        "func": "msg.payload= msg.payload.criticalhumidity;\nglobal.set(\"critical_humidity\", msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 520,
        "wires": [
            [
                "80162be772629b52"
            ]
        ]
    },
    {
        "id": "80162be772629b52",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "humd_event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "c9cda9ab3b6f6f99",
        "type": "comment",
        "z": "c2dd626a86cc6cc4",
        "name": "mqtt interface",
        "info": "",
        "x": 70,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b608aca7c31209b7",
        "type": "inject",
        "z": "c2dd626a86cc6cc4",
        "name": "Simulate Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1300,
        "wires": [
            [
                "07b7725c0f395d79"
            ]
        ]
    },
    {
        "id": "07b7725c0f395d79",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "Check Temperature and Humidity",
        "func": "// Define the acceptable range for temperature and humidity\nconst minTemperature = 10; // Minimum temperature\nconst maxTemperature = 20; // Maximum temperature\nconst criticatemp = 20; // critical temperature \nconst minHumidity = 30;    // Minimum humidity\nconst maxHumidity = 40;    // Maximum humidity\nconst critichumidity =80; // critical value for humidity\n// Get the incoming message payload\nvar temperature = global.get('temperature'); // Get temperature from global context\nvar humidity = global.get('humidity'); // Get humidity from global context\n// set global variables that can be used by opc_server\n\n\n// Initialize payload as a JSON object\nvar  data = {\n    timestamp: Date.now(),\n    temperature: temperature,\n    humidity: humidity,\n    criticalhumidity : false,\n    criticaltemp : false,\n    temperatureEvent: \"\",\n    humidityEvent: \"\",\n    turnAC: false // Initialize turn AC variable\n};\n\n\n// Check if temperature is within the acceptable range\nif (temperature < minTemperature) {\n    // Temperature is below the acceptable range\n    data.temperatureEvent = \"Below Min\";\n} else if (temperature > maxTemperature) {\n    // Temperature is above the acceptable range\n    data.temperatureEvent = \"Above Max\";\n    \n}\nelse if (temperature > criticatemp) {\n    // Humidity is above the acceptable range\n    data.criticaltemp= true;\n    }\nelse {\n        msg.payload.temperatureEvent = \"No action\"\n    }\n// Check if humidity is within the acceptable range\nif (humidity < minHumidity) {\n    // Humidity is below the acceptable range\n    data.humidityEvent = \"Below Min\";\n} else if (humidity > maxHumidity) {\n    // Humidity is above the acceptable range\n    data.humidityEvent = \"Above Max\";\n    }\n    \n\nelse {\n        data.humidityEvent = \"No action\"\n    }\n\n// Set turn AC variable based on conditions\nif (data.temperatureEvent === \"Above Max\" || data.humidityEvent === \"Above Max\" || data.criticaltemp==true) {\n    data.turnAC = true; // Turn on AC\n} else {\n    data.turnAC = false; // Turn off AC\n}\n\n\n\n// Return message\nreturn {payload: data};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1300,
        "wires": [
            [
                "6127b7d146067c69"
            ]
        ]
    },
    {
        "id": "6127b7d146067c69",
        "type": "mqtt out",
        "z": "c2dd626a86cc6cc4",
        "name": "",
        "topic": "sensordata",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ff246c28cc0fa0af",
        "x": 610,
        "y": 1300,
        "wires": []
    },
    {
        "id": "cce1a7097cedd46a",
        "type": "comment",
        "z": "c2dd626a86cc6cc4",
        "name": "access control",
        "info": "",
        "x": 70,
        "y": 1400,
        "wires": []
    },
    {
        "id": "597777f306b62cfd",
        "type": "pythonshell in",
        "z": "c2dd626a86cc6cc4",
        "name": "acces_control",
        "pyfile": "/home/waelkh12/Desktop/tf_lite_face_reco/facial_recognition_for_access_control/test_model/use_tflite.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 840,
        "y": 1580,
        "wires": [
            [
                "3792017c86d22231",
                "078ec0fcf62206f6"
            ]
        ]
    },
    {
        "id": "b6618a72dbd9a24f",
        "type": "mqtt in",
        "z": "c2dd626a86cc6cc4",
        "name": "",
        "topic": "command_access_control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ff246c28cc0fa0af",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1500,
        "wires": [
            [
                "67a6f07c1956f6bd",
                "75f992dcb52ffb52"
            ]
        ]
    },
    {
        "id": "67a6f07c1956f6bd",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "access_command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 170,
        "y": 1560,
        "wires": []
    },
    {
        "id": "3792017c86d22231",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "image_quality_output_value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1fa42674d05363d2",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "check_image_quality_condition",
        "func": " if (msg.payload= true) {\nreturn msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1440,
        "wires": [
            [
                "597777f306b62cfd"
            ]
        ]
    },
    {
        "id": "078ec0fcf62206f6",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "sets_access_as_global_event",
        "func": "global.set(\"access\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1440,
        "wires": [
            [
                "72fb84c5a4e129dd",
                "78707461ca7e1d6f"
            ]
        ]
    },
    {
        "id": "72fb84c5a4e129dd",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "access_event_value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1580,
        "wires": []
    },
    {
        "id": "78707461ca7e1d6f",
        "type": "mqtt out",
        "z": "c2dd626a86cc6cc4",
        "name": "",
        "topic": "command_access_control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ff246c28cc0fa0af",
        "x": 1170,
        "y": 1440,
        "wires": []
    },
    {
        "id": "14ab688dbc2e10fa",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "set light event as global var",
        "func": "var lighton= msg.payload.turnlighton;\nvar lightoff =msg.payload.turnlightoff;\nglobal.set(\"light_is_on\", lighton);\nglobal.set(\"light_is_off\", lightoff);\n\n\nreturn lighton,lightoff;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 460,
        "wires": [
            [
                "31ecea7a6dbd7032"
            ]
        ]
    },
    {
        "id": "31ecea7a6dbd7032",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "light_event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 460,
        "wires": []
    },
    {
        "id": "8482e38a4c50625e",
        "type": "inject",
        "z": "c2dd626a86cc6cc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 900,
        "wires": [
            [
                "13bdee667e0e5c72"
            ]
        ]
    },
    {
        "id": "f3213a61b8c5e13d",
        "type": "trigger",
        "z": "c2dd626a86cc6cc4",
        "name": "email_trigger",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 390,
        "y": 960,
        "wires": [
            [
                "c780400e1af0967f"
            ]
        ]
    },
    {
        "id": "c780400e1af0967f",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "function 1",
        "func": "msg.topic=\"node-red-notification\";\nmsg.payload=\" critical values reached\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 960,
        "wires": [
            [
                "8cfe841ce57b84d1"
            ]
        ]
    },
    {
        "id": "75f992dcb52ffb52",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "check_access_command",
        "func": " if (msg.payload= true) {\nreturn msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1440,
        "wires": [
            [
                "d7e95d0525d80412"
            ]
        ]
    },
    {
        "id": "d7e95d0525d80412",
        "type": "pythonshell in",
        "z": "c2dd626a86cc6cc4",
        "name": "image_quality",
        "pyfile": "/home/waelkh12/Desktop/tf_lite_face_reco/facial_recognition_for_access_control/face_image_quality/face_image_quality.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 380,
        "y": 1600,
        "wires": [
            [
                "1fa42674d05363d2",
                "b38e619521f5151d"
            ]
        ]
    },
    {
        "id": "b38e619521f5151d",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1660,
        "wires": []
    },
    {
        "id": "f6859ab79cf4c5e0",
        "type": "string",
        "z": "c2dd626a86cc6cc4",
        "name": "lux",
        "methods": [
            {
                "name": "between",
                "params": [
                    {
                        "type": "str",
                        "value": "\"temperature= 27.27°C humidity=43.99 %, lux="
                    },
                    {
                        "type": "msg",
                        "value": "0"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "d24761f03d14e7c4",
                "2db777b9568877e2"
            ]
        ]
    },
    {
        "id": "d24761f03d14e7c4",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "lux",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 360,
        "wires": []
    },
    {
        "id": "7addb18221f4ba18",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "set humidity as global variable",
        "func": "global.set(\"lux\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 360,
        "wires": [
            [
                "d066836732912665"
            ]
        ]
    },
    {
        "id": "d066836732912665",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "lux_global_variable",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "2db777b9568877e2",
        "type": "function",
        "z": "c2dd626a86cc6cc4",
        "name": "convert humidity to a number",
        "func": "msg.payload = parseFloat(msg.payload); // Convert string to float\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "7addb18221f4ba18"
            ]
        ]
    },
    {
        "id": "f2702b391b79aa76",
        "type": "debug",
        "z": "c2dd626a86cc6cc4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 200,
        "wires": []
    }
]